<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>鹏辉标签</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
<link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
<link rel="stylesheet" href="../../layuiadmin/element-ui/lib/theme-chalk/index.css">
<script src="../../layuiadmin/main.js"></script>
</head>
<style>
.webcon{min-width:1000px;}
.topbtn{margin:10px 30px;}
.box-card{font-size:16px;}
.qrTitle{margin-top:15px;}
</style>
<body>
	<div id="app" class="webcon">
		
		<el-col :span="10"> 
			<iframe ref="iframep1" id="print-iframe" style="margin-top: 20px; margin-left: 15px;" width="400"
			height="380" src="/page/label/penghui_iframe.html"></iframe> 
			</el-col> 
		<el-col :span="12">

			<div class="topbtn">			
				<el-button type="success" @click="skip">跳号</el-button>
				<el-button type="danger" @click="print">打印</el-button>
			</div>
			

			<el-card style="margin:10px 30px;" class="box-card">
  				本批次已还有{{form.totalBoxQty-form.curBox}}张标签未打印;
  				<br />
  				
  				<br />
  				<div class="qrTitle">
  				当前二维码内容: {{form.qrcode}}
  			</div>
			</el-card>
			<div>
				
			
			</div>
			
		<el-row>
			
			<el-form :model="form" label-width="80px"> 
			<el-col :span="12">
				<el-form-item label="材料名称" :label-width="formLabelWidth">
					<el-input v-model="form.material" autocomplete="on"></el-input> 
				</el-form-item> 
				<el-form-item label="物料规格" :label-width="formLabelWidth">
					<el-input v-model="form.specification" autocomplete="on"></el-input> 
				</el-form-item> 
				<el-form-item label="物料编码" :label-width="formLabelWidth">
					<el-input v-model="form.matNum" autocomplete="on"></el-input> 
				</el-form-item> 
				<el-form-item label="订单号码" :label-width="formLabelWidth">
					<el-input v-model="form.orderNum" autocomplete="on"></el-input> 
				</el-form-item> 
				<el-form-item label="数量/单位" :label-width="formLabelWidth">
					<el-input v-model="form.qty" autocomplete="on"></el-input> 
				</el-form-item> 
				<el-form-item label="生产日期" :label-width="formLabelWidth">
					   <el-date-picker type="date" placeholder="选择日期" v-model="form.proDate" style="width: 100%;"></el-date-picker>
				</el-form-item> 
				<el-form-item label="生产批次" :label-width="formLabelWidth">
					<el-input v-model="form.batNum" autocomplete="off"></el-input> 
				</el-form-item> 
				<el-form-item label="供应商代码" :label-width="formLabelWidth">
					<el-input v-model="form.vendorCode" autocomplete="off"></el-input> 
				</el-form-item> 
			</el-col>
			<el-col :span="12">
			<el-form-item label="行号" :label-width="formLabelWidth">
					<el-input v-model="form.lineNum" autocomplete="off"></el-input> 
				</el-form-item> 
				<el-form-item label="箱号" :label-width="formLabelWidth">
					<el-input v-model="form.curBox+'/'+form.totalBoxQty" autocomplete="off"></el-input> 
				</el-form-item> 
				<el-form-item label="有效期" :label-width="formLabelWidth">
					<el-date-picker type="date" placeholder="选择日期" v-model="form.valDate" style="width: 100%;"></el-date-picker>
				</el-form-item> 
					<el-form-item label="备注" :label-width="formLabelWidth">
					<el-input v-model="form.note" autocomplete="off"></el-input> 
				</el-form-item> 
				<el-form-item label="当前打印箱号" :label-width="formLabelWidth">
					<el-input v-model="form.curBox" autocomplete="off"></el-input> 
				</el-form-item> 
				  <el-form-item label="最大箱号" :label-width="formLabelWidth">
					<el-input v-model="form.totalBoxQty" autocomplete="off"></el-input> 
				</el-form-item> 

				  <el-form-item>
				    <el-button type="primary" @click="onSubmit">确认参数</el-button>
				   
  				</el-form-item>
			</el-col>				  
			</el-form>		
		</el-row>			
		</el-col> 			
	</div>
	<script>	
		const ap=new Vue({
			el : '#app',
			data : function() {
				return {
			        form: {
			        	material:'磷酸铁锂',
						specification:'SHF09B型',
						matNum:'10101000083',
						vendorCode:'2-02535',
						orderNum:'YA2020101140012',
						lineNum:'0001',
						qty:25,
						boxNum:'',
						proDate:Date.now(),
						valDate:Date.now(),
						batNum:'2-02535210120512',
						note:'无',
						totalBoxQty:0,
						curBox:0,
						cpdProDate:'',
						cpdValDate:'',
						qrcode:''
			        },
			        formLabelWidth: '120px',
			        	rest:0	,
	
				}
			},
		
			methods:{
				onSubmit(){
					if(parseInt(this.form.curBox)>parseInt(this.form.totalBoxQty)){
						this.$message({
					          showClose: true,
					          message: '当前箱号不能大于总箱号',
					          type: 'error',
					          duration:1500
					        });
				        return
						}
				    this.form.cpdProDate = this.changeTime(this.form.proDate);
					this.form.cpdValDate = this.changeTime(this.form.valDate);
					//二维码内容
					this.form.batNum = ""+this.form.vendorCode+this.form.cpdProDate.split("-").join("")+this.getTribleNum(this.form.curBox)

					this.form.qrcode = ""+this.form.matNum+";"+this.form.material+";"+this.form.vendorCode+";"+this.form.orderNum+";"+this.form.lineNum
					+";"+this.form.cpdProDate.split("-").join("")+";"+this.form.cpdValDate.split("-").join("")
					+";"+this.form.batNum+";"+this.form.qty+";KG;"+this.getTribleNum(parseInt(this.form.curBox))+"\/"+this.getTribleNum(parseInt(this.form.totalBoxQty))+";";

					this.form.boxNum = parseInt(this.form.curBox)+"\/"+parseInt(this.form.totalBoxQty) ;
	
			    	this.setIframeData();

				    this.$message({
				          showClose: true,
				          message: '数据设置成功,当前箱号'+this.form.curBox,
				          type: 'success',
				          duration:1500
				        });
					},
				print(){
					let iframe = document.getElementById("print-iframe");
					if (!iframe) {
						const el = document.getElementById("printcontent");
						iframe = document.createElement('IFRAME');
						let doc = null;
						iframe.setAttribute("id", "print-iframe");
						iframe.setAttribute('style', 'position:absolute;width:0px;height:0px;left:-500px;top:-500px;');
						document.body.appendChild(iframe);
						doc = iframe.contentWindow.document;
						//这里可以自定义样式
						//doc.write("<LINK rel="stylesheet" type="text/css" href="css/print.css">");
						doc.write('<div>' + el.innerHTML + '</div>');
						doc.close();
						iframe.contentWindow.focus();
							}
						iframe.contentWindow.print();
							if (navigator.userAgent.indexOf("MSIE") > 0) {
							document.body.removeChild(iframe);
							}
					},
				
				setIframeData(){
						
							const mapFrame = this.$refs['iframep1'];
							/* 
							  mapFrame.contentWindow.postMessage(this.form, 'http://192.168.110.249' )  
							*/ 
							mapFrame.contentWindow.postMessage(this.form, "#(label_url)" ) 
							},
				changeTime(time){
				    if(time){
				        var oDate = new Date(time*1),
				            oYear = oDate.getFullYear(),
				            oMonth = oDate.getMonth()+1,
				            oDay = oDate.getDate(),
				            oHour = oDate.getHours(),
				            oMin = oDate.getMinutes(),
				            oSen = oDate.getSeconds(),
				            oTime = oYear +'-'+ this.getBz(oMonth) +'-'+ this.getBz(oDay) ;//拼接时间
				        return oTime;
				    }else{
				        return "";
				    }

				},
				getBz(num){
				    if(parseInt(num) < 10){
				        num = '0'+num;
				    }
				    return num;
				},
				getTribleNum(num){
					if(parseInt(num) < 10){
				        num = '00'+parseInt(num);
				        
				    }else if(parseInt(num) < 100){
				    	 num = '0'+parseInt(num);
				    	
					    }

				    return num;
					},
				skip(){	
						if(parseInt(this.form.curBox)>parseInt(this.form.totalBoxQty)){
							this.$message({
						          showClose: true,
						          message: '当前箱号不能大于总箱号',
						          type: 'error',
						          duration:1500
						        });
					        return
							}
					//当前箱号跳号
					if(parseInt(this.form.totalBoxQty)>=parseInt(this.form.curBox)){
						this.form.curBox = parseInt(this.form.curBox)+1;
						}
					
					this.onSubmit()
									  
					},

				},

		})
	</script>
</body>
</html>